.shoppagecls .shopcards {
  
    cursor: pointer;
}
.shoppagecls .shopcards:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 6px 2px 0 rgba(0, 0, 0, .19);

}
.shoppagecls .cardimg {
    overflow: hidden;
}

.shoppagecls .cardimg .prdctimg {
    transition: all 1.3s ease;
}

.shoppagecls .cardimg:hover .prdctimg {
    transform: scale(0.8);
}