.shopcardslidecls .shopcards {

   cursor: pointer;
}
.shopcardslidecls .cardimg {
    overflow: hidden;
}

.shopcardslidecls .cardimg .prdctimg {
    transition: all 1.3s ease;
}

.shopcardslidecls .cardimg:hover .prdctimg {
    transform: scale(0.8);
}
.shopcardslidecls .shopcards {

    cursor: pointer;
}

.shopcardslidecls .shopcards:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 6px 2px 0 rgba(0, 0, 0, .19);

}