
.headerbar .navbar-nav .nav-item .nav-link {
    color: #652700;
    font-family: 'Roboto';
    font-weight: 500;
        /* display: flex; */
  }
/* .headerbar .navbar-nav .dropdown-toggle::after{
margin-top: 9px;
} */
.headerbar .navbar-nav .navdropdownbrandname .navdroplink {
    color: black;
      font-family: auto;
      font-weight: 400;
    
}


 .navbar .navbrand{
    color: #652700;
    font-family: 'Roboto';
    font-weight: 700;
  }
  .headerbar .navbar-nav .form-control:focus{
  box-shadow: none;
  outline: none;
  }
.headerbar input, .headerbar input:focus {
      background-color: #ffd2bc;
    }
.headerbar input,.headerbar input:focus {
   border: none;
    }
.headerbar .basic-nav-dropdown .dropdown button {
  background-color: initial !important;
  border: none !important;
  color: #000 !important;
}